<template name="HomeLayout">
  <header>
    <h1>Exploremore</h1>
    {{> loginButtons}}
  </header>
  <main>
    <div class="billboard">
      <h2>Plan your trip</h2>
    </div>
  </main>
</template>
